@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

/* ------------------color-----------------*/
:root{
    /*#1e233a*/
 --primary:#171C30;
 --secondary:#262C46;
 --popup__item__bg:var(--popup__item__bg);
 --primary__text:#7a8195;
 --popup__box__bg:#2f374f;
 --text__title:#d7d7d7;
 --bg__2:#343a5c;
 --bg__area__color: #1d2236;
 --task__board__bg:#1e233a;
 --task__item__bg:rgba(58, 68, 94,0.6);
 --highlight__text:#fff;
}

body{
    min-height: 100vh;
    
   }
   .light{
    --text__title:#0c0d14;
    --primary:#fdf8e1;
    --bg__area__color:#f6d540;
    --popup__item__bg:#f9dc5c;
    --secondary:#fae588;
    --bg-main:#fcefb4;
    --bg__2:#fcefb4;
    --item__bg2:#f9dc5c;
    --popup__box__bg:var(--secondary);
    --task__board__bg:#fae588;
    --primary__text:#5c5e74;
    --task__item__bg:#fcefb4;
    --highlight__text:#000;
}
.dark{
    --text__title:#d7d7d7;
    --primary:#171C30;
    --item__bg2:#434f6e;
    --popup__item__bg:#434f6e;
    --item__bg2:#3a445e;
    --secondary:#262C46;
    --primary__text:#7a8195;

}
.primary--bg{
 background: var(--primary);
}
.secondary--bg{
 background: var(--secondary);
}
.primary--dark--text{
 color: var(--primary__text);
}
/*--------------------NavBar--------------*/
.flex{
 display: flex;
 gap: var(--gap,1rem);
} 
.f-colump {
    flex-direction: column;
}
.wrap{
 flex-wrap: wrap;

}
.App{
 --gap:0;
 overflow: hidden;
 max-height: 100vh;
 background: var(--primary);
}
*::-webkit-scrollbar{
 width: 10px;
 border-radius: 5px;
 height: 10px;
}
*::-webkit-scrollbar-track{
 width: 10px;
 background: var(--bg-main);
 border-radius: 5px;
 margin: 2px;
 padding: 1px;
}
*::-webkit-scrollbar-thumb{
 width: 8px;
 background: var(--primary);
 border-radius: 5px;
 border: 2px solid var(--item__bg2);

}
.filterBox,.sortBox {
 position: absolute;
 top: 34px;
 width: 165px;
 /* left: -100px; */
 translate: -38%;
 padding: 10px;
 border-radius: 8px;

 box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
 background: var(--popup__box__bg);
 z-index: 10000;
}
.filterBox::before,.sortBox::before {
 content: '';
 position: absolute;
 width: 25px;
 height: 25px;
 rotate: 45deg;
 top: -3px;
 left: 41%;
 /* translate: -50%; */
 z-index: -1;
 background: var(--popup__box__bg);
}
.filterBox input{
 width: 100%;
 padding: 5px;

 margin-top: 10px;
 font-size: 17px;
 border-radius: 7px;
 color: var(--text__title);
 outline: none;
 border: none;
 background: var(--primary);


}
.filterBox select,.sortBox select,.settings__content__others--row select{
 margin-top: 10px;
 width: 100%;
 background: var(--primary);
 padding: 5px;
 color: var(--text__title);
 outline: none;
 font-size: 17px;
 border: none;
 box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
}
.settings__content__others--row select{
    box-shadow: none;
}
canvas {
 width: 100% !important;
 min-height: 70%; 
    margin: auto;
}
.toast{
    background: var(--secondary);
    color: var(--highlight__text);
}
.error{
    font-size: 12px;
    padding: 3px;
    display: none;
   }
input:invalid[focused="true"] ~ .error{
    display: block;
   }
   .empty-box{
    padding: 10px;
    height: 100%;
    width: 100%;
    justify-content: center;
    color: #FFF;
    text-transform: capitalize;
    align-items: center;
   }
/* .feed__content select{
        margin-top: 10px;
        width: 150px;
        background: #434f6e;
        padding: 5px;
        color: #d7d7d7;
        outline: none;
        font-size: 17px;
        border: none;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
} */
.empeloyee:hover{
    background:var(--item__bg2);
}
/* fixed inset-0 flex items-center justify-center bg-black bg-opacity-20 transition-opacity backdrop-blur z-40 cursor-auto 
bg-white dark:bg-primary rounded-xl shadow-lg w-full relative overflow-x-auto overflow-y-auto customScroll dark:customScroll-sidebar
*/
.model-box{
   position: fixed;
   inset: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   
   transition: opacity 0.3s ease-in-out;
   backdrop-filter: blur(10px);
   z-index: 10000;
   cursor: auto;
}
.model-box-item{
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 50%);
    max-width: 90vw;

    padding: 10px;
    z-index: 10001;
}